#first{
    height: 18.2cm;
    width: 100%;
}
span{
    font-size: 40px;
    color: rgb(72, 72, 209);
}
body{
    background-color: black;
}
.meme{
    height: 100%;
    width: 100%;
}
header{
    display: flex;
    background-color: rgb(0, 0, 0);
    color: white;
    
}
a{
    text-decoration: none;
    color: black;
}
/* .nvc a{
    text-decoration: none;

}
.nvc:hover
{
    content: '';
    width: 0;
    color: black;
    height: 2px;
    left: 0;
    transition: 0.5s;
    bottom: -10px;
    font-weight: bold;
}
.nvc:hover::after{
    width: 100%;
} */
/* ul{
    list-style-type: none;
    display: flex;
    }
    li{
        font-family: 'Times New Roman', Times, serif;
        padding: 13px;
        font-size: 30px;
        } */
        .nvc {
            list-style: none;
            display: inline-block;
            margin: 0 20px;
            position: relative;
        }
        .nvc{
            text-decoration: none;
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            font-size: 20px;
}
.nvc:hover
{
    font-weight: bold;
}
.nvc ::after{
    content: '';
    height: 3px;
    width: 0;
    background: #0130af;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.nvc:hover ::after{
    width: 100%;
    
}
.menu{
    padding-left: 35%;
    font-size: 30px;
}
hr{
    box-shadow: 0 10px 30px;
}
.myname{
    padding-left: 3cm;
    font-family: 'Times New Roman', Times, serif;
}
.myname:hover
{
    transition: rotate(360deg);
}
.intro{
    height: 10cm;
    width: 13cm;
    position: absolute;
    left: 3cm;
    top: 7.5cm;
    color: white;
}
.pa1{
    color: rgb(2, 0, 94);
    padding-top: 2cm;
    font-size: 20px;
}

h2{
    padding-right: 1cm;
    font-size: 1cm;
    color: black;
}
.pa2{
    font-size: 25px;
    color: black;
}
.pic{
    height: 6cm;
    width: 10cm;
    position: absolute;
    left: 20cm;
    top: 10.5cm;
    border: 1px solid black;
    background-color: rgba(34, 172, 172, 0.726);
    border: none;
    border-radius: 8px; 
    box-shadow: 2px 8px 20px;
    
}
.myimg{
    
    position: absolute;
    left: 19.5cm;
    top: 5.5cm;
    height: 11cm;
    width: 11cm;
}
.myimg :hover{
    transition: rotate(360deg);
}

i{
    padding-left: 10px;
}
.down,.exp{
    height: 1cm;
    width: 6cm;
    background-color: rgb(12, 12, 143);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    border-radius: 3px;
}
.down:hover,.exp:hover{
    background-color: rgb(0, 7, 39);
    box-shadow: 0px 1px 30px 8px rgb(29, 154, 196);
    color: rgb(255, 255, 255);
}
#second{
    height: 18cm;
    width: 100%;
    background-color: rgb(113, 209, 209);
    display: flex;
    scroll-behavior: smooth;
    border: 0px solid black;
}

.work{
    height: 8cm;
    width: 8cm;
    
    position: relative;
    top: 6cm;
    left: 5cm;

    animation: ease-in 1s forwards 0.1s 1 forwards forwards;
}
.about{
    height: 10cm;
    width: 14cm;
    position: relative;
    top: 4cm;
    left: 10cm;
  
}
.wrk{
    height: 10cm;
    
}
.just{
    font-size: 20px;
    text-align: justify;
    margin: -5px;
}
#third{
    background-color: azure;
    height: 18cm;
    width: 100%;
    scroll-behavior: smooth;
    border: 1px solid rgba(0, 0, 0, 0);
}
.cap,.made{
    font-size: 35px;
    /* padding-top: 2cm; */
}
.ski{
    font-size: 25px;
    color: darkblue;
    padding-top: 4cm;
}
.top{
    position: sticky;
    top: 0;
    z-index: 9999;   
}
html{
    scroll-behavior: smooth;
}
.logo{
    position: absolute;
    right: 5.6cm;
    display: flex;
    list-style-type: none;
    gap: 1cm;
}
#fourth{
    height: 18cm;
    width: 100%;
    background-color:rgb(51, 134, 134);
    border : 1px solid rgba(0, 0, 0, 0);
}
.pro{
    font-size: 25px;
    color: darkblue;
    padding-top: 2cm;
}
.made{
    margin: -5px;
}
#fifth{
    height: 11cm;
    width: 100%;
    background-color:azure;
    border: 1px solid rgba(0, 0, 0, 0);
}
.f1{
    height: 9cm;
    width: 10cm;
    position: relative;
    top: 1cm;
    left: 3cm;
    
}
.p1{
    font-size: 30px;
    font-weight: bold;
    margin: -0px;
    color:  rgb(43, 27, 192);
}
.p2{
    margin: -1px;
    font-size: 40px;
    font-weight: bold;

}
.p3{
    font-size: 22px;
    margin: -1px;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo2
{
    font-size: 1cm;
}
.fa-linkedin{
    background-color: rgba(21, 21, 187, 0.801);
    border-radius: 10%;
    color: white;
    text-align: center;
}
.fa-github{
    border-radius: 50%;
    color:  rgba(21, 21, 187, 0.801);
    height: 0.7cm;
    width: 0.7cm;

}
.fa-twitter{
    color:  rgba(21, 21, 187, 0.801);
    height: 0.7cm;
    width: 0.7cm;
    
}
.grid-container{
    width: 80%;
    height: 70%;
    position: relative;
    left: 10%;
    display: grid;
    
    column-gap: 50px;
    row-gap: 10px;
    
    
    grid-template-columns: repeat(2, 1fr);
}
.grid-item{
    background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: left;
  height: 65%;
  position: relative;
}
.pr{
    
    height: 55%;
    width: 40%;
}
.event{
    position: relative;
    left: 44%;
    bottom: 60%;
}
.eventname{
    position: relative;
    bottom: 40%;
    text-align: center;
}



